<%= flash[:notice] %>
<%= flash[:error] %>

<h1>Edit album</h1>

<% form_tag :controller => :albums, :action => :update, :id => @album.picasa_id do %>
  <%= render :partial => 'form' %>
<% end %>

<%= link_to 'Back', :controller => :albums, :action => :index %>
